<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <!-- 视图解析器 解析jsp视图，默认使用jstl,所以 classpath:下面要有jstl包 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 扫描controller层 -->
    <context:component-scan base-package="com.p2p.controller.front"></context:component-scan>
    <context:component-scan base-package="com.p2p.controller.back"></context:component-scan>
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
	
	
	<!-- 时间处理 -->
	<bean id="dateConvert" class="com.p2p.util.DateUtil" />
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<ref bean="dateConvert"/>
		</property>
	</bean>
	
	 <!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1024000000"></property>
	</bean>
	
	<!-- jackson编码配置 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="false">
		   	<bean class="org.springframework.http.converter.StringHttpMessageConverter">
		   		<constructor-arg value="UTF-8"/>
		   	</bean>
		 	<ref bean="jacksonMessageConverter" />
		</mvc:message-converters>
   </mvc:annotation-driven>
   <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
      <property name="supportedMediaTypes">
	      <list>
		      <value>text/html;charset=UTF-8</value>
		      <value>application/json;charset=UTF-8</value>
	      </list>
      </property>
   </bean>
</beans>