/* reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  color:#1e1e1e;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {color:#3180bf;}
em,
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
/*iBanner*/
.banner {
  position: relative;
}
.iBanner {
  height: 100%;
  position: relative;
  float: left;
  width: 100%;
}
.iBanner .iBanner-box {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.iBanner .iBanner-box .box {
  display: none;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.iBanner .iBanner-box .box-active {
  display: block;
}
.iBanner .iBanner-box .box a {
  display: block;
  height: 100%;
  position: relative;
}
.iBanner .iBanner-box .box-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
/*iBanner custom*/
.iBanner .iBanner-box .fd-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 10px 0 0 176px;
}
.iBanner .iBanner-box .fd-btn .icon {
  width: 292px;
  height: 82px;
  display: block;
}
.iBanner .iBanner-box .wdj-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin: 0 0 0 -90px;
}
.iBanner .iBanner-box .wdj-btn .icon-wdj {
  width: 180px;
  height: 40px;
  display: block;
}
.iBanner .iBanner-box .azb-btn {
  position: absolute;
  left: 50%;
  bottom: 36px;
  margin: 0 0 0 338px;
}
.iBanner .iBanner-box .azb-btn .icon-azb {
  width: 124px;
  height: 28px;
  display: block;
}
.iBanner .previous,
.iBanner .next {
  position: absolute;
  height: 116px;
  width: 62px;
  margin-top: -20px;
  z-index: 2000;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  display: none;
}
.iBanner .previous {
  background-position: -3px -30px;
}
.iBanner .next {
  background-position: -56px -30px;
}
.prev-mask {
  position: absolute;
  left: 0;
  width: 180px;
  height: 100%;
  z-index: 1000;
  top: 0;
  display: none;
}
.next-mask {
  position: absolute;
  right: 0;
  width: 180px;
  height: 100%;
  z-index: 10;
  top: 0;
  display: none;
}
.prev-mask,
.next-mask {
  background-repeat: no-repeat;
  background-position: center;
}
.iBanner-prev .prev-mask .previous,
.iBanner-next .next-mask .next {
  display: block;
  cursor: pointer;
}
.iBanner .iBanner-box .fd-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 68px 0 0 252px;
  z-index: 30;
}
.iBanner .fd-btn .icon {
  display: block;
  width: 216px;
  height: 62px;
  text-indent: -99999px;
}
.iBanner .fd-btn .icon img {
  display: block;
  margin: 0 auto;
}
.iBanner .fd-btn .sub-text {
  margin-top: 6px;
}
.iBanner .fd-btn .sub-text p {
  color: #fff;
  line-height: 24px;
}
.iBanner-nav {
  height: 40px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  _top: 500px;
  z-index: 2000;
}
.iBanner-nav ul {
  overflow: hidden;
}
.iBanner-nav ul li {
  float: left;
  padding: 5px 0 0 0;
  margin-left: 3px;
}
.iBanner-nav a:link,
.iBanner-nav a:visited {
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  outline: none;
}
.iBanner-nav a:hover,
.iBanner-nav a:focus {
  color: #ff9933;
  background: none;
}
.iBanner-nav ul li a.active:link,
.iBanner-nav ul li a.active:visited {
  cursor: pointer;
  margin-top: 0;
}
.iBanner-nav ul li a:link,
.iBanner-nav ul li a:visited {
  display: inline-block;
  float: left;
  width: 20px;
  height: 24px;
  margin-right: 2px;
  text-indent: -9999em;
  overflow: hidden;
  cursor: pointer;
  margin-top: 2px;
}
.warp-1000 {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.hidden {
  position: absolute;
  left: -99999px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.blue {
  color: #00afeb;
}
.orange {
  color: #f07440;
}
.blank_30 {
  height: 30px;
}
.ml-75 {
  margin-left: 75px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.negative-mb-35 {
  margin: 0 0 -35px 0;
}
.btn {
  display: block;
}
.btn.btn-close {
  background:url(../shImages/close_icon.png) center center no-repeat;
  width: 32px;
  height: 32px;
  cursor:pointer;
}
.btn.btn-close:hover {background:url(../shImages/close_icon_hover.png) center center no-repeat;}
.btn-inline {
  position: relative;
  top: 1px;
  margin-left: 8px;
  border: 1px solid #3180bf;
  border-radius: 3px;
  padding: 3px 10px;
}
.ico {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  width: auto;
  height: 12px;
  top: 1px;
  margin-right: 2px;
}
.ico img {width:100%;}
.ico.ico-red-package {
  top: 2px;
  margin-right: 2px;
  width: 11px;
  height: 12px;
  background:url(../shImages/hongbao_icon.png) center center no-repeat;
}
.ico.ico-arr-down-s {
  margin-right: 2px;
  width: 6px;
  height: 5px;
  background:url(../shImages/nav_more_icon.png) center center no-repeat;
  position: absolute;
  right: 4px;
  top: 37px;
  display: none;
}
.ico.ico-arr-down-m {
  top: -1px;
  margin-left: 4px;
  margin-right: 2px;
  width: 9px;
  height: 5px;
  background:url(../shImages/arrow_icon.png) center center no-repeat;
}
.ico.ico-piao {
  width: 12px;
  height: 12px;
  top: 1px;
  background:url(../shImages/clients_icon_ykpj.png) center center no-repeat;
  margin-right: 2px;
}
.ico.ico-err {
  width: 16px;
  height: 16px;
  top: 3px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAkfktBvz1jTsn5NjOt3I/MAzVXxm0AAAAc0lEQVQY02WP2w7AIAhDAVGnu/f/P3ZINMtcH0x6AtJSU8lbjFsu1HUkuNLhVncIn6onC3Y1wKgXua6KTBSiBDOAPUFisQGmAcxkWrG8YMFKAn2BIn3BjeQrrr4yf8rz2eDBGmm+2sCIbvse/V9u1Ad6/QceZgXRqJXZswAAAABJRU5ErkJggg==");
  margin-right: 4px;
}
.ico.ico-arr-up-gray {
  background: #000;
}
.ico.ico-arr-dowm-gray {
  background: #ff0000;
}
.ico.ico-ok {
  width: 14px;
  height: 10px;
  background:url(../shImages/confirm_icon.png) center center no-repeat;;
}
.ico.ico-letter {
  width: 32px;
  height: 24px;
  background: #3180bf;
}
.ico.ico-user {
  width: 32px;
  height: 24px;
  background: #3180bf;
}
.ico.ico-dollor {
  width: 32px;
  height: 24px;
  background: #3180bf;
}
.mod-adv {
  height: 50px;
}
.mod-adv a {
  display: block;
}
.mod-adv .btn-close {
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -16px;
}
.prev-mask {
  background-image: url('../shImages/banner_btn_l.png');
}
.next-mask {
  background-image: url('../shImages/banner_btn_r.png');
}
.mod-topbar .bar {
  height: 40px;
  line-height: 40px;
  background: #2e2e2e;
  font-size: 12px;
  color: #fff;
  font-family: arial, sans-serif;
  padding-right: 0 3px;
}
.mod-topbar .bar .fl {
  height: 40px;
}
.mod-topbar .bar .fl span {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
}
.mod-topbar .bar .fl span em {
  font-size: 14px;
  position: relative;
  top: 1px;
  font-family: "microsoft yahei";
}
.mod-topbar .bar .fl .line {
  height: 100%;
  border-right: 1px solid #585858;
}
.mod-topbar .bar .fr li {
  display: inline-block;
  margin-left: 31px;
  height: 39px;
  float: left;
}
.mod-topbar .bar .fr .line {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #585858;
}
.mod-topbar .bar a {
  color: #f2f2f2;
}
.mod-topbar .bar a:hover { color:#ffffff;}
.mod-topbar .nav {
  height: 80px;
  z-index: 2;
}
.mod-topbar .nav .logo {
  float: left;
  padding-top: 15px;
}
.mod-topbar .nav .back-home {
  position: absolute;
  top: 34px;
  right: 0;
  color: #1e1e1e;
  font-size: 16px;
}
.mod-topbar .nav .nav-list {
  padding-left: 200px;
  z-index: 2;
  font-size: 0;
  text-align: left;
}
.mod-topbar .nav .nav-list li {
  display: inline-block;
  position: relative;
  float: left;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  z-index: 2;
  text-align: center;
}
.mod-topbar .nav .nav-list li a {
  height: 40px;
  display: block;
  margin-top: 20px;
  padding: 0 20px;
  color: #1e1e1e;
  line-height: 40px;
}
.mod-topbar .nav .nav-list li .children {
  position: absolute;
  top: 60px;
  display: none;
  z-index: 3;
  width: 100%;
}
.mod-topbar .nav .nav-list li .children li {
  float: none;
  height: 36px;
  line-height: 36px;
  display: block;
}
.mod-topbar .nav .nav-list li .children li a {
  margin-top: 0;
  height: 36px;
  line-height: 36px;
}
.mod-topbar .nav .nav-list li .children li a:hover {
  background: #00afeb;
}
.mod-topbar .nav .nav-list li.hover a {
  color: #fff;
  background: #3180bf;
}
.mod-topbar .nav .nav-list li.hover .children {
  display: block;
}
.mod-topbar .nav .nav-list li.hover .ico-arr-down-s {
  display: block;
}
.mod-topbar .nav .nav-list li.last a {
  padding-right: 0;
}
.common-data-type {
  margin-left: -9px;
  font-size: 12px;
  color: #999;
}
.common-data-type .blue {
  color: #00afeb;
}
.common-data-type .gray {
  color: #999;
}
.common-data-type span {
  margin-right: 6px;
  margin-left: 6px;
}
.mod-data-list .head {
  position: relative;
  height: 54px;
  line-height: 54px;
}
.mod-data-list .head h2 {
  float: left;
  font-size: 18px;
  color: #1e1e1e;
  padding-left: 6px;
}
.mod-data-list .head span {
  display: inline-block;
  border-radius: 3px;
  background: #00afeb;
  color: #fff;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  padding: 4px 8px;
  margin-left: 4px;
}
.mod-data-list .head .more {
  position: absolute;
  right: 8px;
  color: #1e1e1e;
  font-size: 14px;
}
.mod-data-list .list {
  margin-left: -20px;
  overflow: hidden;
}
.mod-data-list .list li {
  position: relative;
  float: left;
  padding: 20px;
  width: 195px;
  height: 260px;
  margin-left: 20px;
  background: #fff;
  border-radius: 3px;
}
.mod-data-list .list li h3 {
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
}
.mod-data-list .list li h3 .level {
  color: #3180bf;
  border: 1px solid #3180bf;
  font-size: 12px;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 1px;
  margin-left: 8px;
}
.mod-data-list .list li .common-data-type {
  margin-top: 12px;
}
.mod-data-list .list li .info {
  height: 110px;
  color: #999;
}
.mod-data-list .list li .info p {
  padding-bottom: 8px;
  font-size: 12px;
}
.mod-data-list .list li .info .lt {
  float: left;
  margin: 26px 0 0 10px;
  font-size: 12px;
}
.mod-data-list .list li .info .lt .percent {
  font-size: 40px;
  color: #eb4600;
}
.mod-data-list .list li .info .lt .percent span {
  font-size: 12px;
}
.mod-data-list .list li .info .rt {
  float: left;
  margin: 50px 0 0 19px;
}
.mod-data-list .list li .info .rt .month {
  font-size: 20px;
  color: #1e1e1e;
}
.mod-data-list .list li .info .rt .month span {
  font-size: 12px;
  color: #999;
}
.mod-data-list .list li .process {
  padding-top: 14px;
}
.mod-data-list .list li .process p {
  color: #999;
  height: 12px;
  font-size: 12px;
}
.mod-data-list .list li .process p span.yuan {
  color: #1e1e1e;
}
.mod-data-list .list li .process .pro {
  position: relative;
  top: 10px;
  height: 16px;
}
.mod-data-list .list li .process .pro .num {
  position: absolute;
  color: #666;
  right: 0;
  font-size: 12px;
}
.mod-data-list .list li .process .pro .bar {
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 5px;
  background: #e8e8e8;
}
.mod-data-list .list li .process .pro .bar .in {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #00afeb;
}
.mod-data-list .list li .btn {margin-top: 32px; display: block; width: 100%;height: 35px;line-height: 34px;background: #3180bf;color: #FFF;font-size: 16px;text-align: center;border-radius: 3px;}
.mod-data-list .list li .btn:hover {background:#225985;}
.mod-data-list .list li .btn_doing { background:#8d8d8d; cursor:default;}
.mod-data-list .list li .new {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: url(../img/arr_new.png) no-repeat;
}
.mod-common-footer {
  border-top: 1px solid #e7e7e7;
}
.mod-common-footer .about {
  padding: 30px 0;
}
.mod-common-footer .about a {
  margin-right: 36px;
  color: #7a7a7a;
  font-size: 12px;
}
.mod-common-footer .about a:hover {color:#1e1e1e;}
.mod-common-footer .cpright {
  padding: 36px 0 24px;
  background: #363636;
  color: #7e7e7e;
  font-size: 12px;
  text-align: center;
}
.mod-common-footer .cpright p {
  line-height: 16px;
}
.mod-common-footer .cpright p.imgs {
  margin-top: 14px;
}
.mod-sidebar {
  position: fixed;
  right: 0;
  top: 50%;
  width: 50px;
  margin-top: -75px;
  background: #fff;
  z-index:999999;
  overflow: hidden;
}
.mod-sidebar a {
  width: 50px;
  height: 50px;
  font-size: 12px;
  display: block;
  color: #999;
  text-align: center;
}
.mod-sidebar ul {
  margin-top: -1px;
}
.mod-sidebar li {
  border-top: 1px solid #e8e8e8;
}
.mod-sidebar i.ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
}
.mod-sidebar i.ico-qq{background:url(../shImages/quicky_qq.png) center center no-repeat;}
.mod-sidebar i.ico-weichet{background:url(../shImages/quicky_weixin.png) center center no-repeat;}
.mod-sidebar i.ico-feedback{background:url(../shImages/quicky_feedback.png) center center no-repeat;}
.mod-sidebar i.ico-top{background:url(../shImages/quicky_top.png) center center no-repeat;}
.mod-sidebar p { font-size:10px;}
.mod-sidebar p.ico {
  line-height: 46px;
  height: 32px;
}
.mod-data-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 12px;
}
.mod-data-table thead {
  color: #8d8d8d;
}
.mod-data-table thead td {
  border: none;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 10px;
}
.mod-data-table td {
  vertical-align: top;
  text-align: left;
  padding: 10px 10px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.mod-data-table td a {
  color: #3180bf;
}
.mod-data-table td:nth-child(2n) {
  background: #fff;
}
.mod-data-table .no-data td {
  text-align: center;
  padding: 40px 0;
}
.mod-attstation .item {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 26px;
  margin-bottom: 20px;
}
.mod-attstation .item h2 {
  color: #8d8d8d;
  font-size: 18px;
  margin-bottom: 32px;
}
.mod-attstation .item:last-child {
  border: none;
}
.mod-attstation .item .process ul {
  overflow: hidden;
  margin-top: 10px;
  font-size: 12px;
  color: #8d8d8d;
  margin-right: -108px;
}
.mod-attstation .item .process ul li {
  float: left;
  width: 14%;
  text-align: left;
}
.mod-attstation .item .process ul li span {
  display: block;
  margin-top: 4px;
}
.mod-attstation .item .process ul li .btn {
  color: #3180bf ;
  border-radius: 2px;
  padding: 0 4px;
  display: inline-block;
  border: 1px solid #3180bf;
}
.mod-attstation .item .process .bar {
  position: relative;
  border-radius: 4px;
  background: #e8e8e8;
  width: 98%;
  height: 16px;
  margin: 0 auto;
  display: block;
}
.mod-attstation .item .process .bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 16px;
  background: #3180bf;
  border-radius: 4px;
}
.mod-attstation .item .process .bar .num {
  color: #3180bf;
  font-size: 12px;
  position: absolute;
  top: -14px;
  left: 0%;
  margin-left: -10px;
}
.mod-attstation .data {
  width: 436px;
  padding-bottom: 20px;
}
.mod-attstation .data h3 {
  font-size: 16px;
  font-weight: normal;
}
.mod-attstation .data table td {
  background: #f9f9f9;
}
.mod-attstation .data table td:nth-child(2n) {
  background: #fff;
}
.mod-index {
  background: #e8e8e8;
  padding-top: 36px;
  padding-bottom: 55px;
}
.mod-index .mod-data-list {
  margin-top: 30px;
}
.mod-index .head {
  position: relative;
  height: 54px;
  line-height: 54px;
}
.mod-index .head h2 {
  float: left;
  font-size: 18px;
  color: #1e1e1e;
  padding-left: 6px;
}
.mod-index .head span {
  display: inline-block;
  border-radius: 3px;
  background: #00afeb;
  color: #fff;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  padding: 4px 8px;
  margin-left: 4px;
}
.mod-index .head .more {
  position: absolute;
  right: 8px;
  color: #1e1e1e;
  font-size: 14px;
}
.mod-index-great {
  height: 62px;
  padding: 30px 0;
  background: #fff;
  border-radius: 3px;
}
.mod-index-great ul {
  width: 100%;
  height: 100%;
}
.mod-index-great ul li {
  display: block;
  float: left;
  width: 25%;
}
.mod-index-great ul li .side {
  float: left;
  margin-left: 32px;
}
.mod-index-great ul li .main {
  padding-left: 104px;
  color: #8d8d8d;
  font-size: 14px;
}
.mod-index-great ul li .main .title {
  color: #3180bf;
  font-size: 24px;
  padding-bottom: 12px;
  font-weight: bold;
}
.mod-index-transform {
  margin-top: 30px;
}
.mod-index-transform .table {
  padding: 0 16px 10px;
  background: #fff;
  border-radius: 3px;
}
.mod-index-transform table {
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 14px;
}
.mod-index-transform table tr td {
  position: relative;
  vertical-align: middle;
  padding: 14px 0;
  border-bottom: 1px solid #cbcbcb;
  width: 20%;
  text-align: center;
  overflow: hidden;
}
.mod-index-transform table tr td p { line-height: 160%;}
.mod-index-transform table tr td p.gray { color:#999;}
.mod-index-transform table tr td.red {
  color: #eb4600;
}
.mod-index-transform table tr td.first {
  text-align: left;
}
.mod-index-transform table tr td.first .box {
  overflow: hidden;
}
.mod-index-transform table tr td.last {
  text-align: right;
}
.mod-index-transform table tr.last td {
  border: none;
}
.mod-index-transform table h3 {
  font-size: 16px;
  color: #1e1e1e;
}
.mod-index-transform table h3 .supply {
  background: #d58200;
  color: #fff;
  display: inline-block;
  padding: 2px 8px;
  margin-left: 4px;
  font-size: 12px;
}
.mod-index-transform table h3 .new {
  background: #5fad2b;
  color: #fff;
  display: inline-block;
  padding: 2px 8px;
  margin-left: 4px;
  font-size: 12px;
}
.mod-index-transform table .common-data-type {
  margin-top: 12px;
}
.mod-index-transform table .btn {position: relative;top: 1px;display: inline-block;width: 110px;height: 35px;line-height: 34px;background: #3180bf;color: #FFF;font-size: 16px;text-align: center;border-radius: 3px;}
.mod-index-transform table .btn:hover {background:#225985;}
.btn_doing { cursor:default; background:#8d8d8d!important;}/*状态：全局*/
.mod-index-transform table .flag {display:inline-block; width:110px; height:35px; line-height: 35px; text-align:center; color:#999;}
.btn_disable {background:#98bfdf!important; cursor:default;}/*按钮不可用状态：全局*/

.mod-index-new {
  overflow: hidden;
  padding-top: 34px;
  cursor:default;
}
.mod-index-new h2 {
  font-weight: bold;
  font-size: 18px;
  color: #1e1e1e;
  padding: 24px 0;
}
.mod-index-new ul {
  margin-top: -12px;
}
.mod-index-new ul li {
  font-size: 12px;
  margin-top: 12px;
}
.mod-index-new ul li a {
  color: #1e1e1e;
}
.mod-index-new ul li a:hover { color:#3180bf;}
.mod-index-new .box {
  width: 50%;
  float: left;
  overflow: hidden;
}

.mod-index-new .box .title { width:430px; overflow:hidden;}
.mod-index-new .box .title h2 { float:left;}
.mod-index-new .box .title a { float:right; padding:24px 0;}

.mod-index-partner {
  padding: 30px 0 60px;
}
.mod-index-partner h2 {
  font-weight: bold;
  font-size: 18px;
  color: #1e1e1e;
  padding: 24px 0;
}
.mod-index-partner ul {
  font-size: 0;
  margin-left: -10px;
}
.mod-index-partner li {
  border: 1px solid #d6d6d6;
  display: inline-block;
  margin-left: 10px;
}
.mod-index-partner li img {
  width: 114px;
  height: 50px;
}
.mod-login {
  background: #e8e8e8;
  padding: 40px 0 90px;
  height: 590px;
}
.mod-login a {
  color: #3180bf;
}
.mod-login .bg {
  height: 656px;
  width: 924px;
  background: url(../shImages/login.png) center center no-repeat;
  margin-left: -200px;
}
.mod-login .login-form {
  position: absolute;
  width: 370px;
  height: 510px;
  padding: 40px 60px;
  right: 0;
  top: 0;
  background: #fff;
  border-radius: 3px;
}
.mod-login .login-form h2 {
  font-size: 24px;
  color: #3180bf;
  float: left;
}
.mod-login .login-form .show-login {
  float: right;
  font-size: 14px;
  margin-top: 6px;
}
.mod-login .login-form .show-login a {
  color: #3180bf;
}
.mod-login .login-form .form {
  margin-top: 100px;
  font-size: 14px;
  color: #1e1e1e;
}
.mod-login .login-form .form .item {
  position: relative;
}
.mod-login .login-form .form .item .error {
  position: absolute;
  width:180px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 4px;
  background: #f07440;
  text-align: center;
  top: 0;
  margin-top: -4px;
  left: -180px;
  font-size: 14px;
}
.mod-login .login-form .form .item .error:after {
  display: block;
  width: 14px;
  height: 14px;
  background: #F07440;
  content: '';
  position: absolute;
  right: -7px;
  top: 17px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: none\0;
  display: block\9\0;
}
.mod-login .login-form .form.small {
  margin-top: 100px;
  *margin-top: 200px;
}
.mod-login .login-form .form.small .item {
  padding-bottom: 20px;
}
.mod-login .login-form .form.big {
  margin-top: 50px;
  *margin-top: -20px;
}
.mod-login .login-form .form.big .item {
  padding-bottom: 12px;
}
.mod-login .login-form .form input[type="text"],
.mod-login .login-form .form input[type="password"] {
  color: #666;
  font-size: 14px;
  border: 1px solid #cbcbcb;
  padding: 12px;
  width: 266px;
  border-radius: 3px;
  margin-left: 12px;
}
.mod-login .login-form .form input[type="text"].mini,
.mod-login .login-form .form input[type="password"].mini {
  width: 100px;
}
.mod-login .login-form .form input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.mod-login .login-form .form .red {
  color: #f07440;
  font-style: normal;
}
.mod-login .login-form .form label > span {
  width: 66px;
  position: relative;
  top: 12px;
  text-align: right;
  display: block;
  float: left;
}
.mod-login .login-form .form .tip {
  text-align: right;
  height: 30px;
  line-height: 30px;
}
.mod-login .login-form .form .img {
  position: relative;
  float: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  *line-height: 30px;
  top: 0;
  padding-left: 86px;
}
.mod-login .login-form .form .img img {
  position: absolute;
  top: 1px;
  left: 4px;
  *top: -5px;
}
.mod-login .login-form .form .ct {
  text-align: center;
  padding: 30px 0;
}
.mod-login .login-form .form .sub {
  padding: 0;
}
.mod-login .login-form .form .btn {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 10px 60px;
  background: #3180bf;
  border-radius: 4px;
  border: none;
}
.mod-login .login-form .form a.yzm {
  color: #3180bf;
  font-size: 14px;
  border: 1px solid #3180bf;
  padding: 11px 11px;
  border-radius: 4px;
  margin-left: 12px;
  margin-right: -1px;
  *position: relative;
  *margin-right: 0;
  *top: -10px;
}
:root .mod-login .login-form .form .item .error:after {
  display: block;
}
.mod-one-column {
  background: #e8e8e8;
  padding-bottom: 25px;
}
.mod-one-column h2 {
  font-size: 18px;
  padding: 25px 0;
}
.mod-one-column .tab ul {
  border-left: 1px solid #3180bf;
  font-size: 14px;
}
.mod-one-column .tab li {
  border-top: 1px solid #3180bf;
  border-bottom: 1px solid #3180bf;
  position: relative;
  color: #3180bf;
  background: #fff;
  float: left;
  padding: 0 50px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
}
.mod-one-column .tab li.on {
  color: #fff;
  background: #3180bf;
}
.mod-one-column .tab li.on b {
  background: url(../img/step_arr_on.png);
}
.mod-one-column .tab li b {
  position: absolute;
  top: -1px;
  right: -21px;
  width: 21px;
  height: 40px;
  display: block;
  background: url(../img/step_arr.png);
  z-index: 1;
}
.mod-one-column .main {
  padding: 35px 125px;
  background: #fff;
  border-radius: 4px;
}
.mod-one-column .data {
  padding-bottom: 0;
  font-size: 12px;
}
.mod-one-column .data h3 {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mod-one-column .data table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 12px;
}
.mod-one-column .data table thead {
  color: #8d8d8d;
}
.mod-one-column .data table thead td {
  border: none;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 10px;
}
.mod-one-column .data table td {
  vertical-align: top;
  text-align: left;
  padding: 10px 4px;
  padding-bottom: 40px;
}
.mod-one-column .data table td a {
  color: #3180bf;
}
.mod-one-column .data table td:nth-child(2n) {
  background: #f9f9f9;
}
.mod-one-column .data table .no-data td {
  text-align: center;
  padding: 40px 0;
}
.mod-one-column .data.letter table thead td {
  font-size: 12px;
}
.mod-one-column .data.letter table td {
  font-size: 14px;
  border-bottom: 1px solid #cbcbcb;
  padding: 0;
  height: 50px;
  line-height: 50px;
}
.mod-one-column .data.letter table td:nth-child(2n) {
  background: #fff;
}
.mod-one-column .half-left {
  float: left;
  margin-top: 35px;
  padding-right: 30px;
  margin-left: -31px;
  width: 50%;
  border-right: 1px solid #cbcbcb;
}
.mod-one-column .half-right {
  width: 500px;
  margin-top: 35px;
  margin-right: -148px;
  float: right;
}
.mod-one-column .half-right .item .name {
  width: 50px;
}
.mod-one-column .vm {
  vertical-align: bottom;
}
.mod-one-column .mod-form .w-170 {
  width: 170px;
  margin-top: 0;
  display: inline-block;
}
.mod-one-column .ct {
  text-align: center;
}
.mod-one-column .result {
  font-size: 14px;
  color: #8d8d8d;
  line-height: 1.5;
}
.mod-one-column .result em {
  color: #1e1e1e;
}
.mod-one-column .btn-inline {
  font-size: 14px;
}
.mod-two-column {
  background: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.mod-two-column .side-bar {
  float: left;
  width: 200px;
  background: #fff;
}
.mod-two-column .side-bar .menu {
  padding: 0 20px 0;
}
.mod-two-column .side-bar .menu dl {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 15px;
}
.mod-two-column .side-bar .menu dl.last {
  border-bottom: none;
}
.mod-two-column .side-bar .menu dl dt {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
}
.mod-two-column .side-bar .menu dl dd {
  font-size: 16px;
}
.mod-two-column .side-bar .menu dl dd a {
  padding: 8px 0 8px 18px;
}
.mod-two-column .side-bar .menu dl dd.on a {
  color: #3180bf;
}
.mod-two-column .side-bar .menu a {
  display: block;
  color: #1e1e1e;
}
.mod-two-column .main {
  margin-left: 214px;
  padding: 20px 30px 40px;
  background: #fff;
  min-height: 683px;
}
.mod-two-column .main h3 {
  font-size: 18px;
  font-weight: bold;
}
.mod-two-column .main .tab {
  font-size: 16px;
}
.mod-two-column .main .tab ul {
  overflow: hidden;
  border-bottom: 1px solid #3180bf;
}
.mod-two-column .main .tab li {
  float: left;
  margin-right: 20px;
  padding: 0 10px 15px;
}
.mod-two-column .main .tab li.on {
  padding-bottom: 11px;
  border-bottom: 4px solid #3180bf;
}
.mod-two-column .main .tab li.on a {
  color: #3180bf;
}
.mod-two-column .main .tab a {
  color: #8d8d8d;
}
.mod-two-column .main .tip {
  font-size: 14px;
  color: #8d8d8d;
  line-height: 22px;
  padding: 15px 0;
}
.mod-two-column .main .tip p {
  padding: 5px 0;
}
.mod-two-column .main .tip .btn-inline {
  position: relative;
  top: 0px;
  margin-left: 8px;
  border: 1px solid #3180bf;
  border-radius: 3px;
  padding: 3px 10px;
  color: #3180bf;
}
.mod-two-column .main .search {
  padding: 25px 0;
  font-size: 14px;
  color: #1e1e1e;
}
.mod-two-column .main .search.no-padding-top {
  padding-top: 14px;
}
.mod-two-column .main .search input[type='text'],
.mod-two-column .main .search input[type='search'],
.mod-two-column .main .search input[type='date'],
.mod-two-column .main .search select {
  width: 76px;
  border: 1px solid #cbcbcb;
  margin-left: 10px;
  height: 22px;
  line-height: 22px;
}
.mod-two-column .main .search input[type='checkbox'] {
  position: relative;
  top: 2px;
}
.mod-two-column .main .search select {
  height: 24px;
  line-height: 24px;
}
.mod-two-column .main .search label {
  display: inline-block;
  *display: inline;
  margin-right: 20px;
  height: 22px;
  line-height: 22px;
}
.mod-two-column .main .search button {
  position: relative;
  top: 2px;
  border-radius: 2px;
  margin-right: 20px;
  display: inline-block;
  *display: inline;
  color: #3180bf;
  border: 1px solid #3180bf;
  font-size: 16px;
  height: 22px;
  line-height: 20px;
  padding: 0 10px;
  background: none;
  font-family: "microsoft yahei";
}
.mod-two-column .main .data {
  font-size: 12px;
}
.mod-two-column .main .data h3 {
  font-size: 18px;
  padding-bottom: 20px;
}
.mod-two-column .main .data table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 12px;
}
.mod-two-column .main .data table thead {
  color: #8d8d8d;
}
.mod-two-column .main .data table thead td {
  border: none;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 10px;
}
.mod-two-column .main .data table td {
  vertical-align: top;
  text-align: left;
  padding: 10px 4px;
  padding-bottom: 40px;
}
.mod-two-column .main .data table td a {
  color: #3180bf;
}
.mod-two-column .main .data table td:nth-child(2n) {
  background: #f9f9f9;
}
.mod-two-column .main .data table .no-data td {
  text-align: center;
  padding: 40px 0;
}
.mod-two-column .main .data.letter table thead td {
  font-size: 12px;
}
.mod-two-column .main .data.letter table td {
  font-size: 14px;
  border-bottom: 1px solid #cbcbcb;
  padding: 0;
  height: 50px;
  line-height: 50px;
}
.mod-two-column .main .data.letter table td:nth-child(2n) {
  background: #fff;
}
.mod-two-column .text-data {
  position: relative;
  margin-top: -24px;
}
.mod-two-column .text-data .item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cbcbcb;
}
.mod-two-column .text-data .item.no-border-bottom {
  border-bottom: none;
  padding-bottom: 0;
}
.mod-two-column .text-data .item.no-padding {
  padding: 0;
}
.mod-two-column .text-data .item.gray {
  color: #8d8d8d;
}
.mod-two-column .text-data .item a {
  color: #3180bf;
}
.mod-two-column .text-data .item .pr {
  position: absolute;
  right: 0;
  top: 26px;
  font-size: 16px;
}
.mod-two-column .text-data .item .ico-group a {
  margin-right: 40px;
}
.mod-two-column .text-data .item .ico-group .ico {
  position: relative;
  top: 6px;
  margin-right: 5px;
}
.mod-two-column .text-data h3 {
  font-size: 18px;
  padding-bottom: 20px;
  color: #1e1e1e;
}
.mod-two-column .text-data .btn {
  color: #3180bf;
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 16px;
}
.mod-two-column .text-data .btn-inline {
  color: #3180bf;
  border: 1px solid #3180bf;
  border-radius: 3px;
  margin-left: 12px;
  padding: 0 6px;
  font-size: 16px;
}
.mod-two-column .text-data p {
  font-size: 16px;
  line-height: 32px;
}
.mod-two-column .text-data p span {
  display: inline-block;
}
.mod-two-column .text-data p span.clom-5 {
  width: 19%;
}
.mod-two-column .text-data p span.clom-4 {
  width: 24%;
}
.mod-two-column .text-data p span.clom-3 {
  width: 32%;
}
.mod-two-column .text-data p span.clom-2 {
  width: 50%;
}
.mod-two-column .text-data p span.clom-1 {
  width: 100%;
}
.mod-two-column .text-data p.font-small {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  padding-top: 10px;
}
.mod-two-column .text-data p em {
  display: inline;
}
.mod-two-column .text-data p .fl {
  float: left;
}
.mod-two-column .auto-form {
  font-size: 14px;
}
.mod-two-column .auto-form label {
  display: block;
}
.mod-page {
  text-align: center;
  padding: 14px 0 0;
  font-size: 16px;
}
.mod-page.t40 {
  padding-top: 40px;
}
.mod-page a {
  display: inline-block;
  color: #1e1e1e;
  padding: 8px 10px;
  margin-right: 4px;
  border-radius: 3px;
  background: #e8e8e8;
}
.mod-page a.on {
  color: #8d8d8d;
}
.mod-page b {
  margin-right: 4px;
}
.mod-page input[type='text'] {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: -2px;
  width: 60px;
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
  border: none;
}
.mod-page.white a {
  background: #fff;
  color: #1e1e1e;
}
.mod-form {
  padding: 26px 0;
}
.mod-form h3 {
  font-size: 16px;
  font-weight: bold;
}
.mod-form a {
  color: #3180bf;
}
.mod-form input[type="text"],
.mod-form input[type="number"],
.mod-form select,
.mod-form input[type="password"] {
  min-width: 120px;
  width: 120px;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  border: 1px solid #cbcbcb;
  text-indent: .5em;
  margin-right: .5em;
}
.mod-form input[type="text"].mini,
.mod-form input[type="number"].mini,
.mod-form select.mini,
.mod-form input[type="password"].mini {
  width: 40px;
}
.mod-form input[type="text"].larage,
.mod-form input[type="number"].larage,
.mod-form select.larage,
.mod-form input[type="password"].larage {
  width: 220px;
}
.mod-form input[type="text"].auto,
.mod-form input[type="number"].auto,
.mod-form select.auto,
.mod-form input[type="password"].auto {
  width: auto;
}
.mod-form textarea {
  height: 92px;
  min-width: 220px;
  border: 1px solid #cbcbcb;
}
.mod-form select {
  height: 28px;
  line-height: 28px;
}
.mod-form input[type="radio"] {
  position: relative;
  top: 2px;
  margin: 0 4px 0 0;
}
.mod-form img {
  vertical-align: middle;
}
.mod-form .item {
  overflow: hidden;
  font-size: 14px;
  padding: 7px 0;
  line-height: 28px;
}
.mod-form .item .name {
  display: inline-block;
  width: 90px;
  text-align: right;
  font-size: 14px;
  padding-right: 24px;
  float: left;
  height: 28px;
}
.mod-form .item .ipt {
  padding-left: 114px;
}
.mod-form .pay-list {
  overflow: hidden;
}
.mod-form .pay-list li {
  float: left;
  width: 25%;
  margin-bottom: 20px;
  height: 32px;
}
.mod-form .pay-list li input[type="radio"] {
  position: relative;
  top: -8px;
  margin-right: 8px;
}
.mod-form .btn {
  display: inline-block;
  background: #3180bf;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  padding: 7px 26px;
  font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
}
.mod-form .btn-inline {
  position: relative;
  top: 1px;
  margin-left: 8px;
  border: 1px solid #3180bf;
  border-radius: 3px;
  padding: 3px 10px;
}
.mod-form .submit {
  text-align: center;
}
.mod-form .tip {
  font-size: 14px;
  color: #8d8d8d;
  line-height: 22px;
  margin-top: 20px;
}
.mod-form .tip.small {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.mod-form.replay input {
  height: 34px;
}
.mod-form.replay textarea {
  width: 100%;
  height: 174px;
  border-radius: 4px;
  padding:6px 10px;
  border: 1px solid #cbcbcb;
  margin-bottom: 24px;
}
.mod-transform-list {
  margin-top: -10px;
}
.mod-transform-list table tr td p.gray {
  color: #8d8d8d;
  font-size: 12px;
  margin-top: 8px;
}
.mod-transform-list h2 {
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: bold;
}
.mod-transform-list .table {
  background: #fff;
}
.mod-transform-list .table.pd30 {
  padding: 30px;
}
.mod-transform-list .table .intro {
  font-size: 12px;
  color: #8d8d8d;
  margin-bottom: 20px;
}
.mod-transform-list .table .options {
  padding: 20px 0 0 0;
  font-size: 14px;
  color: #8d8d8d;
  border-bottom: 1px solid #cbcbcb;
}
.mod-transform-list .table .options a {
  color: #8d8d8d;
}
.mod-transform-list .table .options .on a,
.mod-transform-list .table .options a.on {
  color: #3180bf;
}
.mod-transform-list .table .options .item {
  padding-bottom: 24px;
}
.mod-transform-list .table .options .item .name {
  margin-right: 26px;
}
.mod-transform-list .table .options .item .option a {
  margin-right: 28px;
}
.mod-transform-list .table .options .sort ul {
  display: inline-block;
  padding: 6px 0;
  border: 1px solid #cbcbcb;
  overflow: hidden;
}
.mod-transform-list .table .options .sort ul li {
  float: left;
  padding: 0 12px;
  border-left: 1px solid #cbcbcb;
  margin-left: -1px;
}
.mod-transform-list .table .options .sort ul li .ico {
  position: relative;
  top: 0px;
  display: inline-block;
  margin-left: 6px;
  width: 10px;
  height: 10px;
}
.mod-transform-list .tab {
  font-size: 18px;
  margin-bottom: 26px;
}
.mod-transform-list .tab ul {
  overflow: hidden;
  border-bottom: 1px solid #cbcbcb;
}
.mod-transform-list .tab li {
  float: left;
  margin-right: 20px;
  padding: 0 10px 15px;
}
.mod-transform-list .tab li.on {
  padding-bottom: 11px;
  border-bottom: 4px solid #3180bf;
}
.mod-transform-list .tab li.on a {
  color: #3180bf;
}
.mod-transform-list .tab a {
  color: #8d8d8d; 
}
.mod-transform-list .tab a:hover { color:#3180bf;}
.mod-transform-list .search {
  position: absolute;
  right: 0;
  top: -10px;
}
.mod-transform-list .search input {
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px 0  0 3px;
  border: 1px solid #cbcbcb;
  border-right:none;
  padding-left: .5em;
  outline: none;
  -webkit-outline: none;
}
.mod-transform-list .search .btn {
  float: right;
  line-height: 34px;
  width: 58px;
  height: 34px;
  background: #3180BF;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  cursor:pointer;
  border-radius: 0 3px 3px 0;
  border: none;
}
.mod-transform-list .search .btn:hover {background:#225985;}
.mod-guide .adv {
  padding-bottom: 20px;
}
.mod-guide .adv img {
  width: 1000px;
  height: 160px;
}
.mod-guide .item {
  margin-bottom: 24px;
  background: #fff;
  height: 300px;
  padding: 60px 74px;
}
.mod-guide .item .main {
  float: left;
  width: 430px;
  font-size: 16px;
  color: #8d8d8d;
  line-height: 30px;
}
.mod-guide .item .main h3 {
  font-size: 30px;
  line-height: 24px;
  color: #1e1e1e;
  margin: 24px 0;
}
.mod-guide .item .main .btn {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 190px;
  height: 40px;
  line-height: 40px;
  background: #3180BF;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  margin-top: 40px;
}
.mod-guide .item .main .btn:hover { background:#225985;}
.mod-guide .item .pic {
  padding-left: 500px;
}
.mod-guide .item.right .main {
  float: right;
}
.mod-guide .item.right .pic {
  padding-left: 0;
  padding-right: 500px;
}
.mod-manage-money h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.mod-manage-money a {
  color: #3180bf;
}
.mod-manage-money .white-box {
  padding:30px;
  border-radius:3px;
  background:#fff;
  margin-bottom:0;
}
.mod-manage-money .big {
  font-size: 18px;
  padding: 0;
}
.mod-manage-money .big a {
  font-size: 16px;
}
.mod-manage-money .normal {
  font-size: 16px;
}
.mod-manage-money .tip {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 32px;
}
.mod-manage-money .two-column .item {
  float: left;
}
.mod-manage-money .two-column .first {
  border-right: 1px solid #cbcbcb;
}
.mod-manage-money .two-column table.usr-info {
  font-size: 16px;
  color: #1e1e1e;
}
.mod-manage-money .two-column table.usr-info td {
  padding-right: 40px;
  padding-bottom: 20px;
  vertical-align: middle;
}
.mod-manage-money .two-column table.usr-info td img {
  width: 160px;
  height: 200px;
}
.mod-manage-money .two-column .make-sure,
.mod-manage-money .two-column .last {
  padding: 0 40px;
}
.mod-manage-money .two-column .make-sure .tip {
  margin-top: 40px;
}
.mod-manage-money .two-column .make-sure .big {
  margin-bottom: 18px;
}
.mod-manage-money .two-column .process {
  position: relative;
  display: inline-block;
  width: 210px;
  height: 8px;
}
.mod-manage-money .two-column .process .bar {
  position: relative;
  border-radius: 4px;
  background: #E8E8E8;
  width: 98%;
  height: 6px;
  margin: 0 auto;
  display: block;
}
.mod-manage-money .two-column .process .bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  background: #3180BF;
  border-radius: 4px;
}
.mod-manage-money .two-column .process .num {
  color: #3180BF;
  font-size: 12px;
  position: absolute;
  top: -4px;
  right: -56px;
  margin-left: -10px;
}
.mod-manage-money .usr-info-detail .ico-ok {
  margin: 0 4px;
}
.mod-manage-money .usr-info-detail .item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #cbcbcb;
  overflow: hidden;
  font-size: 16px;
}
.mod-manage-money .usr-info-detail .item .face {
  float: left;
  margin-right: 35px;
}
.mod-manage-money .usr-info-detail .item .face img {
  width: 130px;
  height: 160px;
}
.mod-manage-money .usr-info-detail .item .face.big img {
  width: 160px;
  height: 200px;
}
.mod-manage-money .usr-info-detail .item table td {
  padding: 8px 60px 8px 0;
}
.mod-manage-money .usr-info-detail .item table td .level {
  font-size: 10px;
  background: #eb6f00;
  color: #fff;
  padding: 1px 8px;
  line-height: 1;
  display: inline-block;
  margin-left: 4px;
}
.mod-manage-money .usr-info-detail .item table td .level em {
  font-size: 14px;
}
.mod-manage-money .usr-info-detail .item table .btn-inline {
  font-size: 12px;
  padding: 0px 10px;
}
.mod-manage-money .usr-info-detail .tip {
  line-height: 18px;
}
.mod-manage-money .usr-info-detail .detail {
  font-size: 14px;
}
.mod-manage-money .usr-info-detail .detail h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.mod-manage-money .usr-info-detail .detail li {
  margin-bottom: 35px;
}
.mod-manage-money .usr-info-detail .detail li.last {
  margin-bottom: 0;
}
.mod-comment ul {
  margin-top: -16px;
}
.mod-comment li {
  padding: 16px 0;
  border-bottom: 1px solid #cbcbcb;
  overflow: hidden;
}
.mod-comment li .face {
  float: left;
}
.mod-comment li .face img {
  width: 72px;
  height: 88px;
}
.mod-comment li .main {
  font-size: 14px;
  padding-left: 110px;
  color: #1e1e1e;
}
.mod-comment li .main .time {
  color: #8d8d8d;
  float: right;
}
.mod-comment li .main p {
  margin: 10px 0;
}


.mod-bankcards {}
.mod-bankcards h3 {margin:20px 0;}
.mod-bankcards p.pbtn { margin:30px auto;}
.mod-bankcards p.pbtn { text-align:center;}

.mod-binding {}
.mod-binding h3 { margin:20px 0 20px 0;}
.mod-binding .item {}
.mod-binding .item .ipt {}
.mod-binding .item .ipt .flag { color:#999;}
.mod-binding label {}
.mod-binding label .name {}
.mod-binding input {}
textarea { padding:0.5em; border:1px solid #cbcbcb; border-radius:2px; height:200px; line-height:24px; margin-right:0.5em; width:400px;}

.mod-message {}
.mod-message h3 {margin:20px 0;}
.mod-message .intro { color:#999; font-size:12px; line-height:180%;}
.checkbox-area { margin-top:40px;}
.checkbox-area label { margin-right:20px;}
.checkbox-area input { margin:0 4px 0 0;}
.checkbox-area .cba-h { margin-bottom:20px;}
.checkbox-area .cba-m { margin-bottom:40px; padding-left:40px;}

.mod-security { padding-top:0;}
.mod-security .security {}
.mod-security .security .warp-1000 { background:#fff; padding: 60px;}
.mod-security .security .adv { margin-bottom:25px; text-align:center;}
.mod-security .item { margin-bottom:40px;}
.mod-security .item .main { float:left; width:580px;}
.mod-security .item .main h1 { margin-bottom:30px; font-size:30px; color:#1e1e1e;}
.mod-security .item .main h3 { margin-bottom:4px; font-size:16px; color:#1e1e1e;}
.mod-security .item .main p { margin-bottom:20px; font-size:16px; line-height:180%; color:#8d8d8d;}
.mod-security .item .pic { float:right;}

.mod-loan-company { }
.mod-loan-company h3 {margin:20px 0;}
.mod-loan-company .mod-form { padding:0;}
.mod-loan-company .mod-form select , .mod-loan-company .item input[type="password"] ,  .mod-loan-company .item input[type="text"]{ width:260px;}
.mod-loan-company .item input.mini { width:106px;}
.mod-loan-company .mod-form button { margin:10px 0 0 0;}
.mod-loan-company .mod-form .box {}
.mod-loan-company .mod-form .box ul .fl { border:none;}
.mod-loan-company .mod-form .box ul .item {}
.mod-loan-company .mod-form .box ul .item select , .mod-loan-company .mod-form .box ul .item input[type="password"] , .mod-loan-company .mod-form .box ul .item input[type="text"]{ width:106px;}
.mod-loan-company .mod-form .btn-outline { color:#3180bf; border:1px solid #3180bf; border-radius:3px; margin-left:8px; background:#FFF;}
.mod-loan-company .info { margin-top:60px;}
.mod-loan-company .info h3 { font-size:14px; color:#666;}
.mod-loan-company .info p { font-size:14px; color:#999; line-height:200%;}
.mod-loan-company .info p span { padding:0 40px 0 0;}
.mod-loan-company .info p span b { color:#1e1e1e;}
.mod-loan-company .item-center { margin:20px auto; text-align:center;}
.mod-loan-company .item-center .btn-outline { margin:auto;}
.mod-loan-company .mod-form .fr .info { margin-left:40px;}

.mod-loan { }
.mod-loan h2 {}
.mod-loan .box {width:50%;}
.mod-loan .box .ibox {border-right:1px solid #e8e8e8;}
.mod-loan .box h1 { margin:10px 0 40px 0; font-size:22px; text-align:center;}
.mod-loan .box .m { margin-bottom:30px;}
.mod-loan .box .m img { float:left; margin-right:20px;}
.mod-loan .box .m p { float:left; width:290px; color:#1e1e1e; font-size:14px; line-height:160%;}
.mod-loan .box h4 { margin-bottom:5px; color:#666; font-size:12px;}
.mod-loan .box p.intro { line-height:160%; padding:0 40px 0 0;}
.mod-loan .box p.pbtn { text-align:center;}
.mod-loan .fl {  }
.mod-loan .fr {}
.mod-loan .fr .ibox { border:none;}
.mod-loan .fr .m , .mod-loan .fr h4 , .mod-loan .fr p.intro { margin-left:30px;}

.mod-modify-password { }
.mod-modify-password h3 {margin:20px 0;}
.mod-modify-password .mod-form { padding:0;}
.mod-modify-password .mod-form select { width:200px;}
.mod-modify-password .item input[type="password"] { width:200px;}
.mod-modify-password .mod-form button { margin-top:30px;}

.mod-modify-security-question { }
.mod-modify-security-question h3 {margin:20px 0;}
.mod-modify-security-question .mod-form { padding:0;}
.mod-modify-security-question .mod-form select { width:200px;}
.mod-modify-security-question .item input[type="text"] { width:200px;}
.mod-modify-security-question .mod-form button { margin-top:30px;}

/*弹窗*/
.trans-bg { position:absolute; left:0; top:0; z-index:9998; width:1000px; height:1000px; background:#000; opacity:0.5;}
.mod-lightbox { position:absolute; left:50%; top:50%; z-index:9999;border-radius:4px; background:#ffffff; overflow:hidden;}
.mod-lightbox .title { height:48px; line-height:48px; padding:0 20px; position:relative; border-bottom:1px solid #cbcbcb;}
.mod-lightbox .title h1 {}
.mod-lightbox .title a.close { display:block; width:44px; height:44px; position:absolute; right:2px; top:2px; background:url(../shImages/lightbox_close.png) center center no-repeat;}
.mod-lightbox .box { margin:24px; overflow:hidden;}
.mod-lightbox {}
.mod-lightbox img { width:100%;}
.mod-lightbox .box p {}

.mod-lightbox-repayment { text-align: left;}
.mod-lightbox-repayment .mod-form {padding:0;}
.mod-lightbox-repayment .mod-form .item {}
.mod-lightbox-repayment .mod-form .item .name {}
.mod-lightbox-repayment .mod-form .item .ipt {}
.mod-lightbox-repayment .box p {}
.mod-lightbox-repayment .mod-form .item img.v_code { margin-right: 20px; width:auto;}

.user-list {}
.user-list li { float:left; margin:26px 26px 0 26px; text-align:center; width:128px;}
.user-list li img {}
.user-list li p { font-size:16px; margin:4px 0 4px 0;}
.user-list li a { font-size:14px; color:#3180bf;}

.mod-register-activate { padding-top:36px;}
.mod-register-activate h1 { font-size:24px; margin-bottom:20px; text-align:center;}
.mod-register-activate p { text-align:center;}
.mod-register-activate p a { color:#3180bf;}

.huifu { padding:40px 0;}
.huifu .main { background:#ffffff;}
.huifu .login-form { margin:auto; width:400px; position:static;}
.huifu .login-form h2 { float:none; text-align:center;}
.huifu .login-form .form label > span { width:90px;}
.huifu .login-form .form .sub { text-align:left;}
.huifu .login-form .form .btn { margin:20px 0 0 102px;}

.buffer { padding:40px 0;  background:#e8e8e8;}
.buffer .main { text-align:center; padding:60px; width:480px; background:#ffffff;}
.buffer .main h1 { margin-bottom:6px; font-size:20px; color:#0dc21a; line-height:200%;}
.buffer .main p { margin-bottom:40px;}
.buffer .main a { color:#3180bf;}

.announcement { padding:40px 0;  background:#e8e8e8;}
.announcement .main { text-align:center; background:#ffffff;}
.announcement ul {}
.announcement ul li { margin-bottom:20px; border-bottom:1px solid #f2f2f2;}
.announcement ul li h1 { font-size:18px; margin-bottom:10px;}
.announcement ul li p { margin-bottom:10px; line-height:160%; font-size:14px; color:#666;}
.announcement ul li p.info { color:#999; font-size:12px;}
.announcement ul li p.info .date {}
.announcement ul li p.info .views {}

.announcement_detail { padding:40px 0;  background:#e8e8e8;}
.announcement_detail .main { text-align:center; background:#ffffff;}
.announcement_detail .main h1 { margin-bottom:6px; font-size:20px; color:#1e1e1e; line-height:200%;}
.announcement_detail .main p { margin-bottom:40px; line-height:160%; text-align:left;}
.announcement_detail .main p.info { text-align:center; color:#999; font-size:12px;}
.announcement_detail .main a { color:#3180bf;}
.white-box-60 { padding:40px 60px;}
.white-box-20 { padding:20px;}
.announcement_detail .news-views-brief {}
.announcement_detail .news-views-brief .left { float:left;}
.announcement_detail .news-views-brief .right { float:right;}

.about {}
.about .text-data { margin-top:0;}
.about .text-data .item {}
.about .text-data .item h1 { font-size:18px; margin-bottom:10px;}
.about .text-data .item p { font-size:14px; line-height:180%;}
.about .text-data .item .v-code { margin-top:20px;}


/*收益计算器*/
.income_calculator {}
.income_calculator .main { margin: 0;}

/*合同查询*/
.contract_inquiry .main {margin: 0;}
