.mod-modify-password { }
.mod-modify-password h3 {margin:20px 0;}
.mod-modify-password .mod-form { padding:0;}
.mod-modify-password .mod-form select { width:200px;}
.mod-modify-password .item input[type="password"] { width:200px;}
.mod-modify-password .mod-form button { margin-top:30px;}
