.mod-message {}
.mod-message h3 {margin:20px 0;}
.mod-message .intro { color:#999; font-size:12px; line-height:180%;}
.checkbox-area { margin-top:40px;}
.checkbox-area label { margin-right:20px;}
.checkbox-area input { margin:0 4px 0 0;}
.checkbox-area .cba-h { margin-bottom:20px;}
.checkbox-area .cba-m { margin-bottom:40px; padding-left:40px;}