.mod-page {
  text-align: center;
  padding: 14px 0 0;
  font-size: 16px;
}
.mod-page a {
  display: inline-block;
  color: #1e1e1e;
  padding: 10px 10px;
  margin-right: 4px;
  border-radius: 3px;
  background: #e8e8e8;
}
.mod-page a.on {
  color: #8d8d8d;
}
.mod-page b {
  margin-right: 4px;
}
.mod-page input[type='text'] {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: -1px;
  width: 60px;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #cbcbcb;
}
.mod-page.white a {
  background: #fff;
  color: #1e1e1e;
}
