/*注册*/
body{
    background-color: #f5f5f5;
}
.reg-wrap {
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 42px;
}
.reg-wrap .reg-header {

}
.reg-wrap .reg-header .title-wrap {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #666;
}
.reg-wrap .reg-header .title-wrap .txt-right {
    float: right;
}
.reg-wrap .reg-header .step-wrap {
    background-color: #fff;
    font-size: 14px;
}
.reg-wrap .reg-header .step-wrap .reg-step {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 0;
}
.reg-wrap .reg-header .step-wrap .reg-step .step {
    display: block;
    width: 26px;
    height: 20px;
    margin: 16px auto 6px auto;
}
.reg-wrap .reg-header .step-wrap .reg-step .step1 {
    background: url("../images/step1_1.png") no-repeat center ;
}
.reg-wrap .reg-header .step-wrap .reg-step .step1-red {
    background: url("../images/step1-red_1.png") no-repeat center ;
}
.reg-wrap .reg-header .step-wrap .reg-step .step2 {
    background: url("../images/step2_1.png") no-repeat center ;
}
.reg-wrap .reg-header .step-wrap .reg-step .step2-red {
    background: url("../images/step2-red_1.png") no-repeat center ;
}
.reg-wrap .reg-header .step-wrap .reg-step .step3 {
    background: url("../images/step3_1.png") no-repeat center ;
}
.reg-wrap .reg-header .step-wrap .reg-step .step3-red {
    background: url("../images/step3-red_1.png") no-repeat center ;
}
.reg-wrap .reg-header .step-wrap .reg-step .step-txt {
    display: inline-block;
    height: 26px;
    padding: 0 4px;
    font-size: 14px;
}
.reg-wrap .reg-header .step-wrap .reg-step .txt-active {
    color: #fa5a28;
    border-bottom: 2px solid #fa5a28;
}
/*step 1 body*/
.reg-wrap .reg-body {
    margin-top: 6px;
    padding: 50px 24px 0 24px;
    background-color: #fff;
}
.reg-wrap .reg-body .reg-left {
    float: left;
}
.reg-wrap .reg-body .reg-right {
    float: right;
    margin-bottom: 68px;
}
.reg-wrap .reg-body .reg-left .reg-item{
    position: relative;
    height:44px;
    font-size: 14px;
}
.reg-wrap .reg-body .reg-left .reg-item label {
    float: left;
    margin-right: 10px;
    line-height: 44px;
    text-align: right;
    color: #666;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap {
    float: left;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap input {
    height: 18px;
    line-height: 18px;
    width: 272px;
    padding: 12px 0;
    text-indent:15px;
    font-size: 14px;
    border:1px solid #d1d1d1;
    border-radius: 4px;
    color: #666;
    outline: none;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap input:focus {
    border-color: #acd598;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap input[type=password] {
    width: 242px;
    padding-right: 30px;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap .eye {
    position: absolute;
    right: 10px;
    top:16px;
    width: 19px;
    height: 10px;
    cursor: pointer;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap .eye-close {
    background: url("../images/eye-close_1.png") no-repeat center center;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap .eye-open {
    background: url("../images/eye-open_1.png") no-repeat center center;
}
.reg-wrap .reg-body .reg-left .reg-item .reg-message {
    float: left;
    margin-left: 10px;
    padding:0 4px;
    width: 131px;
    height: 44px;
    font-size: 12px;
    color: #ccc;
    border:1px solid #d1d1d1;
    border-radius: 4px;
    background-color: #fbfbfb;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.reg-wrap .reg-body .reg-left .reg-item .error {
    border: 1px solid #fa5a28;
    color: #fa5a28;
}
.reg-wrap .reg-body .reg-left .reg-item .valid-ok {
    display: none;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
    width: 19px;
    height: 19px;
    background: url("../images/ok_1.png") no-repeat center;
}
.mb22 {
    margin-bottom: 22px;
}
.mb10 {
    margin-bottom: 10px;
}
.pr {
    position: relative;
}
.center {
    text-align: center;
}
.reg-wrap .reg-body .reg-left .reg-item .lineh44 {
    line-height: 44px;
}
.reg-wrap .reg-body .reg-left .reg-item .pad4{
    padding: 4px;
}
.reg-wrap .reg-body .reg-left .reg-item .input-wrap .code {
    width: 142px;
}
.reg-wrap .reg-body .reg-left .reg-item .code-wrap {
    float: left;
    margin-left: 10px;
    width: 118px;
    height: 42px;
    border:1px solid #d1d1d1;
    border-radius: 4px;
}
.reg-wrap .reg-body .reg-left .reg-item .code-wrap img {
    width: 118px;
    height: 42px;
    cursor: pointer;
    border-radius: 4px;
}
.reg-wrap .reg-body .reg-left .reg-item .code-btn {
    float: left;
    margin-left: 10px;
    width: 118px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border:1px solid #fa5a28;
    color: #fa5a28;
    border-radius: 4px;
}
.reg-wrap .reg-body .reg-left .reg-item .lefttime {
    float: left;
    margin-left: 10px;
    width: 118px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border:1px solid #fa5a28;
    border-radius: 4px;
    color: #fa5a28;
}
.reg-wrap .reg-body .reg-left .reg-item .code-btn {
    background-color: #fa5a28;
    color: #fff;
    cursor: pointer;
}
.reg-wrap .reg-body .reg-left .tip {
    margin: 10px 0 0 66px;
    color: #666;
}
.reg-wrap .reg-body .reg-left .bankid-tip {
    margin: 8px 0 0 66px;
    color: #fa5a28;
}
.reg-wrap .reg-body .reg-left .cellphone-box span {
    display: inline-block;
    line-height: 44px;
    font-size: 14px;
    color: #666;
}
.reg-wrap .reg-body .reg-left .bank-protocol {
    margin: 0 0 0 66px;
}
.reg-wrap .reg-body .reg-left .agree-protocol {
    margin: 10px 0 0 66px;
}
.reg-wrap .reg-body .reg-left .agree-protocol label input{
   visibility: hidden;
}
.reg-wrap .reg-body .reg-left .agree-protocol label {
    display: inline-block;
    height: 17px;
    line-height: 17px;
    padding-left: 24px;
    cursor: pointer;
}
.reg-wrap .reg-body .reg-left .agree-protocol label.checked {
    background: url("../images/checked_1.png") no-repeat left center;
}
.reg-wrap .reg-body .reg-left .agree-protocol label.unchecked {
    background: url("../images/uncheck_1.png") no-repeat left center;
}
.reg-wrap .reg-body .reg-left .submit-wrap{
    margin: 12px 0 47px 66px;
}
.reg-wrap .reg-body .reg-left .submit-wrap button,
.reg-wrap .reg-body .reg-left .submit-wrap a{
    display: block;
    width: 271px;
    height: 42px;
    line-height: 42px;
    border:1px solid #fa5a28;
    border-radius: 4px;
    color: #fa5a28;
    text-align: center;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.reg-wrap .reg-body .reg-left .submit-wrap .red-btn {
    background-color: #fa5a28;
    color: #fff;
}
.txt-red {
    color: #fa5a28;
}
.reg-mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=6);
    z-index: 50;
}
.protocol-box {
    display: none;
    position: fixed;
    width: 460px;
    height: 430px;
    padding: 20px 20px;
    background-color: #fff;
    z-index: 51;
    left: 50%;
    margin-left: -255px;
    top: 160px;
    border: 5px solid #616161;
}
.protocol-box .x-close {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url(../images/su-icon_1.png) no-repeat -80px 0px;
}
.protocol-box .content{
    height: 395px;
    overflow: auto;
}
.reg-wrap .reg-success {
    margin-top: 6px;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
}
.reg-wrap .reg-success .success-res {
    margin: 22px 0;
    font-size: 18px;
    color: #666;
}
.reg-wrap .reg-success .succ-btn {
    display: inline-block;
    height: 44px;
    width: 225px;
    line-height: 44px;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
}
.reg-wrap .reg-success .btn-default {
    border:1px solid #fa5a28;
    background-color: #fff;
    color: #fa5a28;
}
.reg-wrap .reg-success .btn-red {
    background-color: #fa5a28;
    color: #fff;
}
.reg-wrap .reg-success .ml68 {
    margin-left: 68px;
}
.reg-wrap .reg-success .btnwrap {

}
.mask {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}
.bank-wrap {
    position: absolute;
    width: 660px;
    height: 672px;
    padding: 30px 40px 20px 40px;
    top: 50%;
    left: 50%;
    margin-top: -327px;
    margin-left: -330px;
    background-color: #fff;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000;
}
.bank-wrap .title {
    font-size: 18px;
    font-weight: 700;
    color: #fa5a28;
    text-align: center;
}
.bank-wrap .line-new {
    margin-top: 16px;
}
.bank-wrap .line-new .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fa5a28;
    border-radius: 50%;
    margin-left: 10px;
}
.bank-wrap .line-new .graint-line {
    display: inline-block;
    height: 2px;
    width: 250px;
    background: #fa5a28;
    background: -webkit-linear-gradient(left, #fff, #fa5a28);
    vertical-align: middle;
}
.bank-wrap .line-new .rl {
    background: -webkit-linear-gradient(left, #fa5a28,#fff);
}
.bank-wrap .subtitle {
    margin-top: 16px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
.ml10 {
    margin-left: 10px;
}
.bank-wrap .bank-list {
    margin-top: 16px;
}
.bank-wrap .bank-list li.font18 {
    font-size: 18px;
}
.bank-wrap .bank-list li {
    float: left;
    padding-left: 16px;
    width: 290px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.bank-wrap .bank-list li span:nth-child(1) {
    display: inline-block;
    width: 80px;
}
.bank-wrap .bank-list li:nth-child(odd) {
    border-left: 1px solid #d6d6d6;
}
.bank-wrap .bank-list li:nth-child(1),
.bank-wrap .bank-list li:nth-child(2){
    border-top: 1px solid #d6d6d6;

}
.bank-wrap .bank-list li:nth-child(1) {
    border-radius: 6px 0 0 0;
}
.bank-wrap .bank-list li:nth-child(2) {
    border-radius: 0 6px 0 0;
}
.bank-wrap .bank-list li:last-child {
    border-radius: 0 0 6px 0;
}
.bank-wrap .bank-list li:nth-last-child(2) {
    border-radius: 0 0 0 6px;
}
.bank-wrap .tips {
    padding: 12px 0;
    color: #fa5a28;
    font-size: 12px;
}
.bank-wrap .ikown-btn {
    display: block;
    margin: 0 auto;
    width: 227px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #fa5a28;
    text-align: center;
    color: #fa5a28;
    outline: none;
    background-color: #fff;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.cellphone-wrap {
    display: inline-block;
    height: 44px;
    width: 272px;
    line-height: 44px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.cellphone-wrap a {
    float: right;
    color:#57b4f8;
    font-size: 12px;
    margin-right: 8px;
}
.cellphone-tip {
    padding-left: 68px;
    line-height: 32px;
}
.mask {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}
.alertWin {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.alertWin .alert-icon {
    width: 50px;
    height: 50px;
    margin: 30px auto 20px auto;
    background: url("../images/tip-icon_1.png") no-repeat;
}
.alertWin .alert-msg {
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
}
.alertWin .alert-ok {
    display: block;
    color: #fa5a28;
    font-size: 18px;
    text-align: center;
    height: 42px;
    width: 100%;
    line-height: 42px;
    border-top: 1px solid #d6d6d6;
}
.activeFotter{
    text-align: center;
    background: #fff;
    padding: 25px 0;
}

.activeFotter p{
    color: #999;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}
